/* Common css start */
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
/* Common css end */
/* Header start */
header{
    border-bottom: 3px solid #EEF0F3;
}
.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.logo{
    width: 15%;
    display: inline-block;
    float: left;
}
.logo img{
    width: 100%;
}
.menu{
    width: 55%;
    float: right;
}
.menu ul{
    overflow: hidden;
    float: right;
}
.menu ul li{
    list-style: none;
    float: left;
    margin-top: 10px;
}
.menu ul li a{
    color: #000000;
    text-decoration: none;
    margin-right: 20px;
    display: inline-block;
    transition: .3s ease;
}
.menu ul li a:hover{
    color: #008AFF;
}
.menu ul li:last-child a{
    margin-right: 0;
}
/* Header end */
/* Banner start */
.banner{
    padding: 60px;
}
.container2{
    width: 60%;
    margin: 0 auto;
}
.b_content{
    text-align: center;
}
.b_content h1{
    font-size: 50px;
    color: #0F2656;
    margin: 0;
}
.b_content h2{
    font-size: 50px;
    color: #008AFF;
    margin: 15px 0;
}
.b_content p{
    color: #0F2656;
    word-spacing: 1px;
    line-height: 25px;
}
.b_image{
    width: 80%;
    margin: 0 auto;
}
.b_image img{
    width: 100%;
}
/* Banner end */
/* successful start */
.success{
    padding: 50px;
}
.s_content{
    overflow: hidden;
}
.l_success{
    float: left;
    width: 43%;
    text-align: right;
    padding-left: 35px;
}
.l_success h2{
    font-size: 50px;
    color: #F15767;
    margin: 0;
}
.l_success p{
    line-height: 25px;
    color: #0F2656;
    word-spacing: 1px;
}
.r_success{
    float: right;
    width: 48%;
}
.r_success h1{
    font-size: 50px;
    color: #0F2656;
    margin: 0;
}
/* successful end */
/* Feature start */
.feature{
    padding: 50px 0;
}
.f_content{
    overflow: hidden;
}
.f_single{
    width: 27.85%;
    float: left;
    margin-right: 25px;
    padding: 30px 25px;
}
.f_single:last-child{
    margin-right: 0;
}
.f_image{}
.f_image img{
    width: 100%;
}
.f_single h2{
    margin: 10px 0;
    color: #0F2656;
}
.f_single p{
    word-spacing: 1px;
    line-height: 25px;
    color: #0F2656;
}
.pink{
    background: #FDEBED;
}
.green{
    background: #EAF9F4;
}
.yellow{
    background: #FFF8E8;
}
/* Feature end */
/* footer start */
footer{
    background: #008AFF;
    text-align: center;
}
footer p{
    padding: 35px;
    font-size: 14px;
    color: #a7c7ff
}
footer span{
    color: #fff;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: bolder;
}
/* footer end */